<footer class="footer">
  <div class="text-center pt-5 pl-2 pr-2 pb-3">
    <small>Copyright © 2019 Record Show Mania | <a href="mailto:help@recordshowmania.com">help@recordshowmania.com</a></small><br>
    <small><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-conditions">Terms & Conditions</a></small>
  </div>
</footer>
