<footer class="footer">
  <div class="text-center pl-2 pr-2 pb-3">
    <small>Copyright © 2019 Record Show Mania | <a href="mailto:help@recordshowmania.com">help@recordshowmania.com</a></small>
  </div>
</footer>
