<header id="link-header" class="d-flex justify-content-center .justify-content-sm-evenly py-3">
  <form action="https://www.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="hosted_button_id" value="4J8RJ9KXFJDJ8" />
    <button class="btn mr-2" type="submit">
      <img class="img-fluid" height="70" width="145" src="https://recordshowmania.com/images/donate-paypal.png"
        alt="Donate">
    </button>
  </form>

  <a class="nav-link" href="https://www.groovycoasters.com">
    <img class="img-fluid" height="70" width="116" src="https://recordshowmania.com/images/groovycoasters-logo.png"
      alt="Groovy Coasters">
  </a>

  <a class="nav-link" href="https://www.recordriots.com">
    <img class="img-fluid" height="70" width="70" src="https://recordshowmania.com/images/record-riots-logo.png"
      alt="Record Riots">
  </a>
</header>

<header id="vinyl-steve-announcement-header" class="d-flex justify-content-center .justify-content-sm-evenly pt-3">
  <span>Wanna sell at a Record Riot? Go to <a href="http://www.vinylsteve.com">vinylsteve.com</a> to register!</span>
</header>

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a id="logo" class="navbar-brand" href="/">
      <img class="img-fluid" height="225" width="225" src="https://recordshowmania.com/images/record-show-mania-logo.png"
      alt="Record Show Mania">
    </a>
    <button id="navbarbutton" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
    </button>
    <div class="mt-3 collapse navbar-collapse text-right" id="navbarResponsive">
      <ul class="navbar-nav nav-items ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <span class="nav-link">|</span>
        </li>
        {{#if isLoggedIn}}
        <li class="nav-item">
          <span class="nav-link">Welcome, {{username}}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add-show">Add Show</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my-shows">My Shows</a>
        </li>
        {{#if isAdmin}}
        <li class="nav-item">
          <a class="nav-link" href="/create-blog-post">Create Blog Post</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>