<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="images/recordriots-logo.png" alt="Record Riots!"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {{#if isLoggedIn}}
          <li class="nav-item">
            <span class="nav-link">Welcome, {{username}}</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add-show">Add Show</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-5">
  <h5 class="mb-4">Add a show:</h5>
  <form action="/add-show" method="post">
    <div class="form-group">
      <label for="inputDate">Date</label>
      <input type="date" class="form-control col-3" id="inputDate" name="date" aria-describedby="dateHelp" placeholder="Enter date" required="true">
    </div>
    <div class="form-group">
      <label for="inputName">Name</label>
      <input type="text" class="form-control col-6" id="inputName" name="name" placeholder="Enter name of show" required="true">
    </div>
    <div class="form-group">
      <label for="inputVenue">Venue</label>
      <input type="text" class="form-control col-6" id="inputVenue" name="venue" aria-describedby="venueHelp" placeholder="Enter venue" required="true">
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control col-6" id="inputAddress" name="address" aria-describedby="addressHelp" placeholder="Enter address" required="true">
    </div>
    <div class="form-group">
      <label for="inputCity">City</label>
      <input type="text" class="form-control col-6" id="inputCity" name="city" aria-describedby="cityHelp" placeholder="Enter city" required="true">
    </div>
    <div class="form-group">
      <label for="inputState">State</label>
      <select class="form-control col-1" id="inputState" name="state" aria-describedby="stateHelp" placeholder="Enter state" required="true">
        <option value="AL">AL</option>
      	<option value="AK">AK</option>
      	<option value="AZ">AZ</option>
      	<option value="AR">AR</option>
      	<option value="CA">CA</option>
      	<option value="CO">CO</option>
      	<option value="CT">CT</option>
      	<option value="DE">DE</option>
      	<option value="DC">DC</option>
      	<option value="FL">FL</option>
      	<option value="GA">GA</option>
      	<option value="HI">HI</option>
      	<option value="ID">ID</option>
      	<option value="IL">IL</option>
      	<option value="IN">IN</option>
      	<option value="IA">IA</option>
      	<option value="KS">KS</option>
      	<option value="KY">KY</option>
      	<option value="LA">LA</option>
      	<option value="ME">ME</option>
      	<option value="MD">MD</option>
      	<option value="MA">MA</option>
      	<option value="MI">MI</option>
      	<option value="MN">MN</option>
      	<option value="MS">MS</option>
      	<option value="MO">MO</option>
      	<option value="MT">MT</option>
      	<option value="NE">NE</option>
      	<option value="NV">NV</option>
      	<option value="NH">NH</option>
      	<option value="NJ">NJ</option>
      	<option value="NM">NM</option>
      	<option value="NY">NY</option>
      	<option value="NC">NC</option>
      	<option value="ND">ND</option>
      	<option value="OH">OH</option>
      	<option value="OK">OK</option>
      	<option value="OR">OR</option>
      	<option value="PA">PA</option>
      	<option value="RI">RI</option>
      	<option value="SC">SC</option>
      	<option value="SD">SD</option>
      	<option value="TN">TN</option>
      	<option value="TX">TX</option>
      	<option value="UT">UT</option>
      	<option value="VT">VT</option>
      	<option value="VA">VA</option>
      	<option value="WA">WA</option>
      	<option value="WV">WV</option>
      	<option value="WI">WI</option>
      	<option value="WY">WY</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control col-2" id="inputZip" name="zip" aria-describedby="zipHelp" placeholder="Enter zip" required="true" max="10">
    </div>
    <div class="form-group">
      <label for="inputStart">Start</label>
      <input type="time" class="form-control col-2" id="inputStart" name="start" placeholder="Enter start time" required="true">
    </div>
    <div class="form-group">
      <label for="inputEnd">End</label>
      <input type="time" class="form-control col-2" id="inputEnd" name="end" placeholder="Enter end time" required="true">
    </div>
    <div class="form-group">
      <label for="inputAdmission">Admission</label></label>
      <input type="text" class="form-control col-2" id="inputAdmission" name="admission" aria-describedby="admissionHelp" placeholder="Enter admission" required="true">
    </div>
    <div class="form-group">
      <label for="inputDetailss">Details</label>
      <textarea class="form-control col-6" id="inputDetails" name="details" placeholder="Enter details" required="true" rows="4"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Add Show</button>
  </form>
</div>
