{{> nav}}

<div class="container mt-5">
  <h5>Add a show:</h5>
  <small>Fields with a * are required - all other fields are optional, but recommended.</small>

  <form class="mt-4" action="/add-show" method="post">
    <div class="form-group">
      <label for="inputDate">Date *</label>
      <input type="date" class="form-control col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" id="inputDate" name="date" required="true">
    </div>

    <div class="form-group">
      <label for="inputName">Name of Show *</label>
      <input type="text" class="form-control col-md-6 col-lg-6 col-xl-6" id="inputName" name="name" required="true">
    </div>

    <div class="form-group">
      <label for="inputVenue">Venue *</label>
      <input type="text" class="form-control col-md-6 col-lg-6 col-xl-6" id="inputVenue" name="venue" required="true">
    </div>

    <div class="form-group">
      <label for="inputAddress">Address *</label>
      <input type="text" class="form-control col-md-6 col-lg-6 col-xl-6" id="inputAddress" name="address" required="true">
    </div>

    <div class="form-group">
      <label for="inputCity">City *</label>
      <input type="text" class="form-control col-md-6 col-lg-6 col-xl-6" id="inputCity" name="city" required="true">
    </div>

    <div class="form-group">
      <label for="inputState">State *</label>
      <select class="form-control col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" id="inputState" name="state" required="true">
        <option value=""></option>
        <option value="AL">AL</option>
      	<option value="AK">AK</option>
      	<option value="AZ">AZ</option>
      	<option value="AR">AR</option>
      	<option value="CA">CA</option>
      	<option value="CO">CO</option>
      	<option value="CT">CT</option>
      	<option value="DE">DE</option>
      	<option value="DC">DC</option>
      	<option value="FL">FL</option>
      	<option value="GA">GA</option>
      	<option value="HI">HI</option>
      	<option value="ID">ID</option>
      	<option value="IL">IL</option>
      	<option value="IN">IN</option>
      	<option value="IA">IA</option>
      	<option value="KS">KS</option>
      	<option value="KY">KY</option>
      	<option value="LA">LA</option>
      	<option value="ME">ME</option>
      	<option value="MD">MD</option>
      	<option value="MA">MA</option>
      	<option value="MI">MI</option>
      	<option value="MN">MN</option>
      	<option value="MS">MS</option>
      	<option value="MO">MO</option>
      	<option value="MT">MT</option>
      	<option value="NE">NE</option>
      	<option value="NV">NV</option>
      	<option value="NH">NH</option>
      	<option value="NJ">NJ</option>
      	<option value="NM">NM</option>
      	<option value="NY">NY</option>
      	<option value="NC">NC</option>
      	<option value="ND">ND</option>
      	<option value="OH">OH</option>
      	<option value="OK">OK</option>
      	<option value="OR">OR</option>
      	<option value="PA">PA</option>
      	<option value="RI">RI</option>
      	<option value="SC">SC</option>
      	<option value="SD">SD</option>
      	<option value="TN">TN</option>
      	<option value="TX">TX</option>
      	<option value="UT">UT</option>
      	<option value="VT">VT</option>
      	<option value="VA">VA</option>
      	<option value="WA">WA</option>
      	<option value="WV">WV</option>
      	<option value="WI">WI</option>
      	<option value="WY">WY</option>
      </select>
    </div>

    <div class="form-group">
      <label for="inputZip">Zip *</label>
      <input type="text" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="inputZip" name="zip" required="true" max="10">
    </div>

    <div class="form-group">
      <label for="inputStart">Start Time *</label>
      <input type="time" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="inputStart" name="start" required="true">
    </div>

    <div class="form-group">
      <label for="inputEnd">End Time *</label>
      <input type="time" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="inputEnd" name="end" required="true">
    </div>

    <div class="form-group">
      <label for="inputAdmission">Regular Admission</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="text" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="inputAdmission" name="regular_admission_fee">
      </div>
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <label for="earlyAdmissionYes">Early Admission?</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="earlyAdmissionYes" name="early_admission" onclick="displayEarlyAdmissionFields()" value="yes">
        Yes
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="earlyAdmissionNo" name="early_admission" onclick="displayEarlyAdmissionFields()" value="no" checked>
        No
      </div>
    </div>

    <div id="earlyAdmissionFields" class="d-none">
      <div class="form-group">
        <label for="earlyAdmissionTime">Early Admission Time</label>
        <input type="time" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="earlyAdmissionTime" name="early_admission_time">
      </div>
      <div class="form-group">
        <label for="inputAdmission">Early Admission Fee</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input type="text" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="earlyAdmissionFee" name="early_admission_fee">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="numberOfDealers">Number of Dealers</label>
      <input type="text" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="numberOfDealers" name="number_of_dealers">
    </div>

    <div class="form-group">
      <label for="numberOfTables">Number of Tables</label>
      <input type="text" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="numberOfTables" name="number_of_tables">
    </div>

    <div class="form-group">
      <label for="sizeOfTables">Size of Tables</label>
      <input type="text" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="sizeOfTables" name="size_of_tables">
    </div>

    <div class="form-group">
      <label for="tableRent">Table Rent</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="text" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="tableRent" name="table_rent">
      </div>
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <label for="cdDealers">CD Dealers?</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="cd_dealers" value="yes">
        Yes
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="cd_dealers" value="no">
        No
      </div>
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <label for="fortyFiveDealers">45 Dealers?</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="fortyfive_dealers" value="yes">
        Yes
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="fortyfive_dealers" value="no">
        No
      </div>
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <label for="sevetyEightDealers">78 Dealers?</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="seventyeight_dealers" value="yes">
        Yes
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="seventyeight_dealers" value="no">
        No
      </div>
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <label for="foodDrink">Food/Drink?</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="food_drink" value="yes">
        Yes
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="food_drink" value="no">
        No
      </div>
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <label for="handicappedAccess">Handicapped Access?</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="handicapped_access" value="yes">
        Yes
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="handicapped_access" value="no">
        No
      </div>
    </div>

    <div class="form-group">
      <label for="inputMoreInformation">More Information</label>
      <textarea class="form-control " id="inputMoreInformation" name="more_information" rows="4"></textarea>
    </div>

    <div class="form-group">
      <label for="inputContactName">Contact Name</label>
      <input type="text" class="form-control col-md-6 col-lg-6 col-xl-6" id="inputContactName" name="contact_name">
    </div>

    <div class="form-group">
      <label for="inputContactEmail">Contact Email</label>
      <input type="email" class="form-control col-md-6 col-lg-6 col-xl-6" id="inputContactEmail" name="contact_email">
    </div>

    <div class="form-group">
      <label for="inputContactPhone">Contact Phone</label>
      <input type="tel" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="inputContactPhone" name="contact_phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"> <small class="text-muted">Format: 212-555-1234</small>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add Show</button>
    </div>

  </form>
</div>

<script>
  var earlyAdmissionYes = document.getElementById('earlyAdmissionYes');
  var earlyAdmissionNo = document.getElementById('earlyAdmissionNo');
  var earlyAdmissionFields = document.getElementById('earlyAdmissionFields');

  function displayEarlyAdmissionFields() {
    if (earlyAdmissionYes.checked) {
      earlyAdmissionFields.className = 'd-block';
      earlyAdmissionNo.removeAttribute('checked');
    }
    if (earlyAdmissionNo.checked) {
      earlyAdmissionFields.className = 'd-none';
      earlyAdmissionYes.removeAttribute('checked');
    }
  }
</script>
