<div class="container mt-5">
  <h2>All Users</h2>

  <table class="table table-bordered">
    <thead>
      <tr scope="row">
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr scope="row">
        <th>{{this.username}}</th>
        <th>{{this.email}}</th>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
