<div class="container">
    <form action="/forgot" method="post">
      <div class="form-group">
        <label for="inputEmail">Enter your email address to reset your password:</label>
        <input type="email" class="form-control" id="inputEmail" name="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-primary">Reset</button>
    </form>
</div>
