<div class="container">
  <h6>Looking for a record show?</h6>
  <br/>
  <form>
    <div class="form-row">
      <div class="col">
        <label for="date">Find by Date</label>
        <input type="date" class="form-control" id="date">
      </div>
      <div class="col">
        <label for="date">Find by Location</label>
        <input type="select" class="form-control" id="locaton" placeholder="Enter location">
      </div>
    </div>
  </form>
</div>
