<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="images/recordriots-logo.png" alt="Record Riots!"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {{#if isLoggedIn}}
          <li class="nav-item">
            <span class="nav-link">Welcome, {{username}}</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add-show">Add Show</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-5">
    <h5>Log Into Record Riots</h5>
    <br>
    <form action="/login" method="post">
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control col-6" id="inputEmail" name="email" aria-describedby="emailHelp" placeholder="Enter email" required="true">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control col-6" id="inputPassword" name="password" placeholder="Enter Password" required="true">
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
    <br>
    <a href="/forgot">Forgot password?</a>
</div>
