<div class="header">
  <div class="transparent-cover">
    {{> nav}}
    {{> searchbox}}
  </div>
</div>

<div class="container text-center mt-5">
  <h5>Sorry, no results.</h5>
  <p><a href="/">Return to main page</a></p>
</div>
