{{> nav}}

<div class="container mt-5 mb-5">
    <h5 class="text-center">Register For Free</h5>
    <br>
    {{#if message}}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
    {{/if}}
    <form action="/register" method="post">
      <div class="mb-5">
        <p>WELCOME! Thanks for checking out our website and choosing to list your record show/vinyl event with us. We're excited about Record Show Mania and this is only the start. We'll be adding cool features going forward and all of them will focus on helping YOU promote your event more effectively. Read the list below COMPLETELY so you get the most out of your Record Show Mania usage. Then you can scroll down and register to start listing your events.</p>
        <ol>
          <p><li> Remember that the #1 complaint from record show customers about event listings is that they can't find ENOUGH info about individual record shows and what makes one different from another. They want to know if the show has 45s, has CD dealers, has dollar records, has this dealer or that one. Make your show stand out! Give the customers what they want. Remember that you have the MORE INFORMATION field which has infinite possibilities.</li></p>
          <p><li> Fill out as many fields for your listing as you can. Remember that you can edit the listing later, but the more you fill out immediately, the more complete your listing will be and the more attractive it will be for customers. Add a dealer list when you know who will be there. Post a photo or image too, either of the venue or of a previous show, featured dealers or customers. Give details about 45s and CDs and 78s---this is information that customers ask for. Unlike other listing sites, we are giving you some space to REALLY describe your show. Make use of this!</li></p>
          <p><li>Be complete with the event venue name and the address. Our site automatically links to Google Maps, but complete information (including zip code) is necessary.</li></p>
          <p><li>For promoters who have multiple editions of the same show (same venue, other dates), please make use of the helpful ADD FUTURE DATE feature when you are making the ORIGINAL listing of your show. This allows you to list the initial show but then also other dates WITH THE SAME INFORMATION. Very helpful!</li></p>
          <p><li>Some promoters may notice that we have already posted information about some of your upcoming shows. We did this to give a better picture of what the website would look like to newcomers. Promoters can reclaim access to their listing (to edit & delete) by contacting our webmaster at  <a href="mailto:help@recordshowmania.com">help@recordshowmania.com</a>. This request should be processed by us within 24 hours.</li></p>
          <p><li>You may to leave some fields blank and that's fine. For example, we didn't know the exact number of dealers and tables for the WFMU Record Fair in 2020, so we left those fields blank. Remember that you can always edit your listing yourself.</li></p>
          <p><li>Finally, remember that we reserve the right to remove or edit any listing that contains incorrect, profane and otherwise unworthy information that reflects badly on Record Show Mania. We are in this game for the long haul and aim to protect the integrity of our enterprise, the vinyl customers and YOU the record show promoter. Please help us with this mission by exercising good judgement in your listings. Thanks in advance!</li></p>
        </ol>
      </div>
      <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="text" class="form-control col-lg-6" id="inputUsername" name="username" aria-describedby="usernameHelp" placeholder="Enter a username" required="true">
      </div>
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control col-lg-6" id="inputEmail" name="email" aria-describedby="emailHelp" placeholder="Enter email" required="true">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control col-lg-6" id="inputPassword" name="password" placeholder="Enter Password" required="true">
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
