{{> nav}}

<div class="container mt-5">
    <h5>Reset your password:</h5>
    <br>
    <form action="/reset" method="post" oninput="confirm_password.setCustomValidity(confirm_password.value != password.value ? 'Passwords do not match.' : '')">
      <input type="hidden" name="reset_password_token" value="{{reset_password_token}}">
      <div class="form-group">
        <label for="inputPassword">Enter new password:</label>
        <input type="password" class="form-control col-lg-6" id="inputPassword" name="password" placeholder="Enter New Password" required="true">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm new password:</label>
        <input type="password" class="form-control col-lg-6" id="confirmPassword" name="confirm_password" placeholder="Confirm New Password" required="true">
      </div>
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
