<div class="header">
  <div class="transparent-cover">
    {{> nav}}
    {{> searchbox}}
  </div>
</div>

<div class="container text-center mt-5">
  <h5>User is not registered.</h5>
  <p><a href="/register">Register a new account</a></p>
</div>
