body {
  background-color: black;
  color: yellow;
  padding-bottom: 10px;
}
.navbar {
  background-color: black;
}
#logo {
  font-family: 'Rock Salt', cursive;
  color: #FF5800;
}
#navbarbutton {
  color: #2F4F4F !important;
}
.header {
  background: url('https://res.cloudinary.com/hxzook5wx/image/upload/v1558490982/records.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#header-message {
  color: white !important;
}
#searchbox {
  color: white !important;
  height: 250px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
#searchByDateButton {
  color: white !important;
}
#searchByStateButton {
  color: white !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #18bc9c !important;
}
.table {
  color: yellow;
}
.modal-content {
  background-color: black;
  color: yellow;
}
