body {
  background-color: black;
  color: white;
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 2.5rem;
}
.navbar {
  background-color: black;
}
#navbarbutton {
  color: #2F4F4F !important;
}
.header-wrapper {
  background-color: rgba(0, 0, 0, 0.1);
}
/* .header {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url('https://res.cloudinary.com/hxzook5wx/image/upload/v1638985582/records_umfsh5.webp');
  background-repeat: no-repeat;
  background-size: cover;
} */
#header-message {
  color: white !important;
}
#searchbox {
  color: white !important;
  height: 250px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
#searchByDateButton {
  color: white !important;
}
#searchByStateButton {
  color: white !important;
}
#searchByCountryButton {
  color: white !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #18bc9c !important;
}
.table {
  color: yellow;
}
.modal-content {
  background-color: black;
  color: yellow;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
}
.line-breaks {
  white-space: pre-wrap;
}
.close {
  color: inherit !important;
}
.white-text {
  color: white !important;
}
.modal-content {
  background-color: slategrey;
}
.custom-h1 {
  font-size: 2rem; /* Adjust the size as per your need */
}
.gun-metal-bg {
  background-color: #141414 !important;
}